parameters:
	ignoreErrors:
		-
			message: '#^Found usage of constant DOING_CRON\. Use wp_doing_cron\(\) instead\.$#'
			identifier: phpstanWP.wpConstant.fetch
			count: 1
			path: ../mu-plugin/wp-flame-early-hooks.php

		-
			message: '#^Constant WP_FLAME_URL not found\.$#'
			identifier: constant.notFound
			count: 3
			path: ../src/Admin.php

		-
			message: '#^Parameter \#1 \$text of function esc_html expects string, float given\.$#'
			identifier: argument.type
			count: 4
			path: ../src/Admin/FlameGraphView.php

		-
			message: '#^Parameter \#1 \$text of function esc_html expects string, int given\.$#'
			identifier: argument.type
			count: 4
			path: ../src/Admin/FlameGraphView.php

		-
			message: '#^Property WP_User\:\:\$roles \(array\<string\>\) in isset\(\) is not nullable\.$#'
			identifier: isset.property
			count: 1
			path: ../src/Admin/FlameGraphView.php

		-
			message: '#^Offset ''core''\|''db''\|''http''\|''plugin''\|''theme'' on array\{core\: ''\#6c7086'', plugin\: ''\#7c3aed'', theme\: ''\#22c55e'', db\: ''\#ef4444'', http\: ''\#f59e0b''\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 2
			path: ../src/Admin/ListView.php

		-
			message: '#^Parameter \#1 \$text of function esc_attr expects string, float given\.$#'
			identifier: argument.type
			count: 3
			path: ../src/Admin/ListView.php

		-
			message: '#^Parameter \#1 \$text of function esc_html expects string, float given\.$#'
			identifier: argument.type
			count: 10
			path: ../src/Admin/ListView.php

		-
			message: '#^Parameter \#1 \$text of function esc_html expects string, int given\.$#'
			identifier: argument.type
			count: 1
			path: ../src/Admin/ListView.php

		-
			message: '#^Call to static method confirm\(\) on an unknown class WP_CLI\.$#'
			identifier: class.notFound
			count: 1
			path: ../src/CLI.php

		-
			message: '#^Call to static method error\(\) on an unknown class WP_CLI\.$#'
			identifier: class.notFound
			count: 2
			path: ../src/CLI.php

		-
			message: '#^Call to static method log\(\) on an unknown class WP_CLI\.$#'
			identifier: class.notFound
			count: 3
			path: ../src/CLI.php

		-
			message: '#^Call to static method print_value\(\) on an unknown class WP_CLI\.$#'
			identifier: class.notFound
			count: 1
			path: ../src/CLI.php

		-
			message: '#^Call to static method success\(\) on an unknown class WP_CLI\.$#'
			identifier: class.notFound
			count: 2
			path: ../src/CLI.php

		-
			message: '#^Function WP_CLI\\Utils\\format_items not found\.$#'
			identifier: function.notFound
			count: 1
			path: ../src/CLI.php

		-
			message: '#^Property WPFlame\\CallbackInstrumentor\:\:\$collector is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: ../src/CallbackInstrumentor.php

		-
			message: '#^Strict comparison using \=\=\= between non\-empty\-string and '''' will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: ../src/DB.php

		-
			message: '#^Strict comparison using \=\=\= between non\-empty\-string and '''' will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: ../src/GraphQL.php

		-
			message: '#^Call to function method_exists\(\) with WPFlame\\GraphQL and ''requires_savequeries'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: ../src/Instrumentation.php

		-
			message: '#^Strict comparison using \!\=\= between mixed and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: ../src/Storage.php

		-
			message: '#^Call to static method add_command\(\) on an unknown class WP_CLI\.$#'
			identifier: class.notFound
			count: 1
			path: ../wp-flame.php

		-
			message: '#^Found usage of constant DOING_AJAX\. Use wp_doing_ajax\(\) instead\.$#'
			identifier: phpstanWP.wpConstant.fetch
			count: 1
			path: ../wp-flame.php

		-
			message: '#^Found usage of constant DOING_CRON\. Use wp_doing_cron\(\) instead\.$#'
			identifier: phpstanWP.wpConstant.fetch
			count: 1
			path: ../wp-flame.php

		-
			message: '#^Result of && is always false\.$#'
			identifier: booleanAnd.alwaysFalse
			count: 1
			path: ../wp-flame.php

		-
			message: '#^Strict comparison using \!\=\= between ''1\.3\.0\-rc\.1'' and ''1\.3\.0\-rc\.1'' will always evaluate to false\.$#'
			identifier: notIdentical.alwaysFalse
			count: 1
			path: ../wp-flame.php
